{% set directory = grav.flex_directory.directory(type) %}
{% set collection = directory.collection %}

<div id="flex-directory">
    <div class="text-center">
        <input class="form-input search" type="text" placeholder="Search by name, email, etc" />
        <button class="button button-primary sort asc" data-sort="name">
            Sort by Name
        </button>
    </div>
    <ul class="list">
        {% for entry in collection %}
            {% if entry.published %}
            <li>
                <div class="entry-details">
                    <h3><span class="company">{{ entry.company }}</span></h3>
                    <div>email: <b><span class="email">{{ entry.email }}</span></b></div>
                    <div>Web Site: <b><span class="website">{{ entry.website }}</span></b></div>
                    <hr>
                    <div class="address">
                        {{ entry.address.street }}
                        <br>{{ entry.address.city }}, {{ entry.address.state }}
                        <br>{{ entry.address.country }}
                    </div>
                </div>
                <hr>
                 <div class="entry-extra">
                    {% for tag in (entry.tags|default('')|split(',')) %}
                        <span>{{ tag }}</span>
                    {% endfor %}
                </div>
            </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>

<script>
    var options = {
        valueNames: [ 'company', 'email', 'website', 'address' ]
    };
    var userList = new List('flex-directory', options);
</script>
